{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="container main col-4">
        <h2>Registration</h2>
        <center></center>
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}

                {{ form.as_p }}
                <br>
                <button type="submit" class="button-register">
                    Register
                </button>
            </form>
        </center>
    </div>
{% endblock content %}